hr {
	background-color: $border-color;
	border: 0;
	height: 1px;
	@extend .mb-4;
}

// @import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	max-width: 100%;
	@extend .my-3;
	@extend .mx-0;
}

// @import "tables";
