@import "~material-colors/dist/colors";
// bootstrap colors
$gray-100: $md-grey-100;
$gray-200: $md-grey-200;
$gray-300: $md-grey-300;
$gray-400: $md-grey-400;
$gray-500: $md-grey-500;
$gray-600: $md-grey-600;
$gray-700: $md-grey-700;
$gray-800: $md-grey-800;
$gray-900: $md-grey-900;

$blue:    $md-blue-500;
$indigo:  $md-indigo-500;
$purple:  $md-purple-500;
$pink:    $md-pink-500;
$red:     $md-red-500;
$orange:  $md-orange-500;
$yellow:  $md-yellow-500;
$green:   $md-green-500;
$teal:    $md-teal-500;
$cyan:    $md-cyan-500;

// theme colors
$color-theme: $md-teal-500;
$color-theme-dark: darken($color-theme, 10%);
$color-accent: $md-teal-a700;
$color-accent-dark: darken($color-accent, 10%);;
