.widget {
	margin-bottom: map-get($spacers, 5);

	.widget-title
	{
		padding: map-get($spacers, 2) map-get($spacers, 3);
		background: $dark;
		border-bottom: solid 3px $color-accent;
		color: $light;
		font-size: $font-size-base;
		font-weight: normal;
	}
	ul
	{
		padding: 0;
		list-style: none;

		li
		{
			margin-bottom: map-get($spacers, 1);
			padding-bottom: map-get($spacers, 1);
			border-bottom: dotted 1px $border-color;
		}
	}
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}
