a {
	color: $color-theme;

	// &:visited {
	// 	color: $md-teal-700;
	// }
	&:hover,
	&:focus,
	&:active {
		color: $md-teal-700;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
