.main-navigation {

	.menu-container
	{
		overflow-x: auto;
		overflow-y: visible;
	}

	ul, li
	{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	a
	{
		color: inherit;
	}
	ul.menu
	{
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		white-space: nowrap;

		li
		{
			position: relative;
			flex-grow: 1;

			a
			{
				display: block;
				text-decoration: none;
				@extend .p-2;
				text-align: center;

				&:hover
				{
					background: $black;
				}
			}

			&:hover
			{
				ul.sub-menu
				{
					display: block;
				}
			}

			&.current-menu-item:after
			{
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 4px;
				background: $color-accent;
			}
		}

		ul.sub-menu
		{
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			background: $gray-900;

			li
			{
				a
				{
					@extend .px-3;
					text-align: left;
				}
			}
		}
	}

	@include media-breakpoint-up("lg")
	{
		.menu-container{
			overflow: visible;
		}
	}


// 	clear: both;
// 	display: block;
// 	float: left;
// 	width: 100%;

// 	ul {
// 		display: none;
// 		list-style: none;
// 		margin: 0;
// 		padding-left: 0;

// 		ul {
// 			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
// 			float: left;
// 			position: absolute;
// 			top: 100%;
// 			left: -999em;
// 			z-index: 99999;

// 			ul {
// 				left: -999em;
// 				top: 0;
// 			}

// 			li {
// 				&:hover > ul,
// 				&.focus > ul {
// 					left: 100%;
// 				}
// 			}

// 			a {
// 				width: 200px;
// 			}

// 			:hover > a,
// 			.focus > a {
// 			}

// 			a:hover,
// 			a.focus {
// 			}
// 		}

// 		li:hover > ul,
// 		li.focus > ul {
// 			left: auto;
// 		}
// 	}

// 	li {
// 		float: left;
// 		position: relative;

// 		&:hover > a,
// 		&.focus > a {
// 		}
// 	}

// 	a {
// 		display: block;
// 		text-decoration: none;
// 	}

// 	.current_page_item > a,
// 	.current-menu-item > a,
// 	.current_page_ancestor > a,
// 	.current-menu-ancestor > a {
// 	}
// }

// /* Small menu. */
// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }

// @media screen and (min-width: 37.5em) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }

// .comment-navigation,
// .posts-navigation,
// .post-navigation {

// 	.site-main & {
// 		margin: 0 0 1.5em;
// 		overflow: hidden;
// 	}

// 	.nav-previous {
// 		float: left;
// 		width: 50%;
// 	}

// 	.nav-next {
// 		float: right;
// 		text-align: right;
// 		width: 50%;
// 	}
}
