.site-header
{
	position: sticky;
    top: 0;
    backdrop-filter: blur(20px) saturate(100%);
	background-color: rgba($white,.8);
	z-index: 1;

	.main-navigation
	{
		background: rgba($black, .8);
	}
}
