.sticky {
	display: block;

	.entry-title
	{
		border-bottom-color: $primary;
	}
}

.post,
.page {
	@extend .mb-5;
}

.entry-title
{
	@extend .pb-1;
	border-bottom: solid 3px $color-theme;
	font-weight: normal;

	a
	{
		color: inherit;
		text-decoration: none;

		&:hover
		{
			color: $text-muted;
		}
	}
}
.entry-meta
{
	font-size: $font-size-sm;
}

.page-content,
.entry-content,
.entry-summary {
	@extend .mt-3;
}
.entry-content {
	// headlines
	h1, h2
	{
		@extend .p-3;
		background: $color-accent;
		border-radius: $border-radius;
		color: $white;
		font-weight: normal;
	}

	h1
	{
		border-bottom: solid 3px $color-accent-dark;
	}

	h2
	{
		text-shadow: 1px 1px 1px rgba($black, .5);
	}

	h3, h4
	{
		@extend .p-2;
	}

	h3
	{
		border-bottom: double 3px $color-theme;
	}

	h4
	{
		border-bottom: dotted 2px $color-theme;
	}

	h5, h6
	{
		@extend .pl-2;
	}

	h5
	{
		border-left: solid 3px $color-theme;
	}

	h6
	{
		border-left: solid 2px $color-theme;
	}

	blockquote
	{
		@extend .px-5, .py-3;
		position: relative;
		overflow: hidden;
		background: $gray-100;
		border-left: solid 3px $border-color;
		border-radius: $border-radius;

		&::before
		{
			content: "\201C";
			position: absolute;
			top: $spacer / 2;
			left: $spacer;
			color: $border-color;
			font-size: 3rem;
		}

		p:last-child
		{
			margin: 0;
		}
	}

	table
	{
		width: 100%;
		margin-bottom: $spacer;

		th, td
		{
			@extend .px-3, .py-2;
			border: solid 1px $border-color;
		}

		thead
		{
			th
			{
				background: $gray-200;
			}
		}

		tbody
		{
			th
			{
				background: $gray-100;
			}
		}
	}


	pre {
		overflow: auto;
		max-width: 100%;
		margin-bottom: $spacer;
		@extend .p-2;
		background: $dark;
		color: $light;
		line-height: 1.5;
	}
}

.post-thumbnail
{
	display: block;
	text-align: center;
}
a.post-thumbnail
{
	margin: map-get($spacers, 3) auto;
	text-decoration: none;

	img
	{
		width: 320px;
		height: 200px;
		object-fit: cover;
	}
	.no-image
	{
		display: block;
		background: $gray-200;
		width: 320px;
		height: 200px;
		max-width: 100%;
		line-height: 200px;

		&::after
		{
			content: "no image";
			color: $gray-400;
		}
	}
}

.entry-footer
{
	clear: both;
	@extend .px-2, .py-1, .bg-light;
	border-top: solid 1px $border-color;
	border-bottom: solid 1px $border-color;

	font-size: $font-size-sm;

	a
	{
		color: inherit;
		text-decoration: underline;
	}
}

.page-links {
	clear: both;
	@extend .mb-3;
}

.edit-link
{
	color: $color-theme !important;

	a.post-edit-link
	{
		color: inherit !important;
	}
}

.post-navigation
{
	@extend .mb-3;
}



@include media-breakpoint-up("lg")
{
	a.post-thumbnail
	{
		float: left;
		margin-right: map-get($spacers, 3);
		max-width: 40%;
	}
}
