.alignleft {
	display: inline;
	float: left;
	margin-right: map-get($spacers, 3);
}

.alignright {
	display: inline;
	float: right;
	margin-left: map-get($spacers, 3);
}

.aligncenter {
	clear: both;
	@include center-block;
}
